<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <h1>Let's Connect!</h1>
            <p>At Legacy Learn, we're committed to providing you with the resources and support you need to succeed in your academic journey.
            This page is your one-stop shop for getting in touch with our dedicated team. Whether you have a question about a specific course, need help navigating the platform, or simply want to share feedback, we're here to listen!</p>
            
            <p>Here are the ways you can reach us:<br></p>
            <ul>
                <li>Email: Our support team is available to answer your questions via email. Feel free to send us a detailed message, and we'll get back to you as soon as possible.</li>
                <li>Live Chat: Need immediate assistance? Check out our live chat feature for real-time support from our team members. (Note: Live chat availability may vary).</li>
                <li>FAQs: Browse through our comprehensive Frequently Asked Questions (FAQs) section. You might find the answer you're looking for right there!</li>
                <li>Social Media: Connect with us on social media! We regularly post updates, announcements, and helpful tips. You can also reach out to us with questions through direct messages.</li>
            </ul>

            <p>We value your feedback! <br><br> Your input helps us improve the Legacy Learn platform and create the best possible learning experience for everyone. Don't hesitate to share your thoughts and suggestions with us. <br><br> Together, let's make this semester a success!</p>
        </div>
    </main>
</div>

