.full {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #edeff7;
}
.logo {
    font-family: 'Sacramento', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    color: #2f57e5;
    padding: 1vh 15vh;
}
span {
    color: orange !important;
}
@media screen and (max-width: 768px) {
    .logo {
        padding: 1vh 5vh;
    }
    
}