<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
   
    <main>
        <div class="container">
            <div class="firstContainer">
                <section class="one">
                    <img class="image" src="assets/images/myHomepage.jpg">
                </section>
                <section class="two">
                    <h1>Welcome Back to Legacy Learn, !</h1>
                    <p class="h-one">Your one-stop platform for academic success is at your fingertips.<br><br></p>
    
                    <h2>Need a Helping Hand?</h2>
                    <p class="h-two">Explore our comprehensive library of resources, including helpful tutorials, video guides, and FAQs. You can also connect with our dedicated support team for any questions you may have.<br><br></p>
                    
                    <h2>Let's Make This a Stellar Semester!</h2>
                    <p class="h-two">The Legacy Learn team is here to support you every step of the way. Utilize the powerful tools and resources at your disposal to reach your full academic potential.<br><br></p>
    
                    <h2>Ready to Dive In?</h2>
                    <p class="h-two">Access your courses, explore new features, and connect with your classmates - all within the Legacy Learn platform. We're Here for You!</p>
                </section>
            </div>
    
            <section class="three">        
                <h2>Get Ready to Take Charge of Your Learning Journey!</h2>
                <p class="h-three">Course Management Made Easy: </p>
                <p class="h-four">Access your personalized course dashboard, where you can effortlessly track your progress, review assignments, and stay on top of deadlines.</p><br>
    
                <p class="h-three">Centralized Score Tracking: </p>
                <p class="h-four">Monitor your academic performance with ease. Analyze your scores, identify areas for improvement, and celebrate your achievements.</p><br>
    
                <p class="h-three">Showcase Your Accomplishments: </p>
                <p class="h-four">Build a comprehensive portfolio by uploading project URLs. Impress potential employers or institutions with your skills and dedication.</p><br>
    
                <p class="h-three">Boost Collaboration:</p>
                <p class="h-four">Foster meaningful interactions with classmates and instructors. Utilize communication tools to ask questions, share ideas, and create a dynamic learning environment.</p><br>
    
                <p class="h-three">Valuable Feedback Loop: </p>
                <p class="h-four">Receive timely and constructive feedback to optimize your learning experience and achieve academic excellence.</p>
            </section>
        </div>
        
    </main>
</div>