<main>
    <div class="container">      
      <section class="pageInput">
        <p class="logo">Lea<span id="logo1">rn</span> 2.0</p>
        <p class="welcome">Welcome back to Legacy Learn!  Let's get you logged in and ready to dive back into your educational journey.</p>
        <form id="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
          <input type="text" id="username" name="username" required
          placeholder="Username" formControlName="username"/><br>
          
          <div class="ngIf" *ngIf="loginForm.get('username')!.hasError('required') && loginForm.get('username')!.touched">Username is required.</div>
          
          <div class="password-container">
            <input [type]="showPassword ? 'password' : 'text'"
            placeholder="Password"
            id="pwd" required formControlName="password"/>
            <span (click)="togglePasswordVisibility()">
              <img class="eyeicon" [src] ="switchIcon ? 'assets/fonts/eye-slash-solid.svg' : 'assets/fonts/eye-solid.svg'">
            </span>
          </div>
          <div class="ngIf"
            *ngIf="loginForm.get('password')!.hasError('required') && loginForm.get('password')!.touched">Password is required.
          </div>
          <div class="ngIf" *ngIf="loginForm.get('password')!.hasError('minlength') && loginForm.get('password')!.touched">Password must be at least 5 characters long.
          </div><br/>
          <section class="btn-container">
            <button type="submit">{{isLoading?'PLEASE WAIT...': 'LOG IN'}}
            </button>
            <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">CANCEL</button>
            <br />
          </section>
          <p class="welcome">Don't have an account. Click <a routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page">here</a> to sign up now - it's free!</p>
          <div class="ngIfError" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </form>
      </section>
      <img src="assets/images/login.jpg" class="image">
    </div>
</main>

<footer>
  <app-footer></app-footer>
</footer>