<main class="">
  <nav class="bg-orange-200 p-3 text-white flex justify-around">
    <span class="text-white font-bold text-lg">
      <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">
        <fa-icon [icon]="faBackward" />
      </a>
    </span>
    <div class="text-2xl font-mono font-bold">GPA Calculator</div>
    <div class=""></div>
  </nav>
  <section class="container mx-auto">
    @if (!courses.length) {
    <div
      class="p-6 py-20 h-full flex items-center justify-center flex-col gap-5"
    >
      <p>Click on the button below to add courses</p>
      <button
        class="bg-purple-400 p-3 rounded-md text-slate-50 hover:bg-purple-500"
        (click)="openAddCourseModal()"
      >
        Add Course
      </button>
    </div>

    }@else {
    <div class="overflow-x-auto">
      <table class="table w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Course Name
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Course Code
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Course Score
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Course Unit
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Course Grade
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          @for (course of courses; track trackingIndex; let i = $index) {
          <tr>
            @if (editingCourseIndex !== i) {
            <td class="px-6 py-4 whitespace-nowrap">{{ course.name }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ course.code }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ course.score }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ course.unit }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ course.grade }}</td>
            <td class="px-6 py-4 whitespace-nowrap">
              <button
                class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out"
                (click)="editCourse(course, i)"
              >
                Edit
              </button>
              <button
                class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out"
                (click)="deleteCourse(course)"
              >
                Delete
              </button>
            </td>
            }@else if (editingCourseIndex === i) {

            <td class="px-4 py-2 whitespace-nowrap">
              <input
                class="border text-sm w-[60%]"
                type="text"
                [(ngModel)]="courses[i].name"
              />
            </td>
            <td class="px-4 py-2 whitespace-nowrap">
              <input
                class="border text-sm w-[60%]"
                type="text"
                [(ngModel)]="courses[i].code"
              />
            </td>
            <td class="px-4 py-2 whitespace-nowrap">
              <input
                class="border text-sm w-[60%]"
                type="number"
                [(ngModel)]="courses[i].score"
              />
            </td>
            <td class="px-4 py-2 whitespace-nowrap">
              <input
                class="border text-sm w-[60%]"
                type="number"
                [(ngModel)]="courses[i].unit"
              />
            </td>
            <td class="px-4 py-2 whitespace-nowrap">{{ courses[i].grade }}</td>
            <td class="px-4 py-2 whitespace-nowrap">
              <button
                (click)="saveCourse(courses[i])"
                class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out"
              >
                <fa-icon [icon]="check" />
              </button>
              <button
                (click)="editingCourseIndex = null"
                class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out"
              >
                <fa-icon [icon]="cancel" />
              </button>
            </td>
            }
          </tr>
          }
        </tbody>
      </table>
    </div>
    <hr class="text-gray-200 my-4" />
    <div class="flex items-center justify-center">
      <button
        class="bg-purple-400 p-3 rounded-md text-slate-50 shadow-lg"
        (click)="openAddCourseModal()"
      >
        Add Course
      </button>
    </div>
    } @if (courses.length) {
    <div class="border border-double flex items-center justify-between p-6 my-3">
      <button class="bg-slate-200 hover:bg-slate-50 text-blue-500 shadow-md p-3 rounded-md tex-" (click)="calculateCGPA()">
        Calculate CGPA
      </button>
      <div class="border border-gray-700 border-dotted w-24 h-24 rounded-full flex items-center justify-center">
        @if (cgpa) {
        <p class="text-green-400 text-[1.2rem]"
        >{{ cgpa.toFixed(2) }}<span class="text-sm">/5.00</span> </p>
        }@else {
          <p class="text-gray-400">N/A</p>
        }
      </div>
    </div>

    } @if (showModal) {
    <app-add-course-modal
      [showModal]="showModal"
      (courseAdded)="addCourse($event)"
    />
    }
  </section>
</main>
