<div class="main">
    <div class="container">
        <section class="first">
            <p>Contact Us: <br>
            Email: legacylearn&#64;gmail.com<br>
            Phone: +2348137954411</p>
        </section>
        <section class="second">
            <p><a href="#">About Us</a></p>
            <p><a href="#">Terms of Service</a></p>
            <p><a href="#">Support</a></p>
        </section>
    </div>
    <section class="third">
        <p>Copyright © 2024 Legacy Learn. All rights reserved.</p>
    </section>
</div>
