<div class="full" [ngClass]="{'active':isNavActive}">
    <section class="logo">
        <p>Lea<span>rn</span> 2.0</p>
    </section>
    <section class="mynav">
        <a class="icon" (click)="toggleNavBar()">
            <fa-icon [icon]="barsIcon"></fa-icon>
        </a>
        <a href="#" class="up">Home</a>
        <a href="#" class="up">Announcements</a>
        <a href="#" class="down">Feedback</a>
        <a href="#" class="down">Portfolio</a>
        <a href="#" class="down">About</a>
        <a href="#" class="down">Contact Us</a>
    </section>
</div>
