<div class="full" [ngClass]="{'active':isNavActive}">
    <section class="logo">
            <p><a routerLink="" class="cursor-pointer"> Lea<span>rn</span> 2.0</a></p> 
    </section>
    <section class="mynav">
        <a class="icon" (click)="toggleNavBar()">
            <fa-icon [icon]="barsIcon"></fa-icon>
        </a>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="up">Home</a>
        <a routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page" class="up">Announcements</a>
        <a routerLink="/feedback" routerLinkActive="active" ariaCurrentWhenActive="page" class="down">Feedback</a>
        <a routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page" class="down">Portfolio</a>
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="down">About</a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="down">Contact Us</a>
    </section>
</div>
