<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <section class="left">
                <h2>Showcase Your Achievements: Build Your Legacy Learn Portfolio</h2>
                <p>Welcome to your Legacy Learn portfolio! This is your dedicated space to curate and showcase your academic accomplishments, impressing potential employers or institutions with your skills and dedication.</p>
                <br>
                <h3>Here's how you can build your impressive portfolio:</h3>
                <h3>Upload Your Scores:</h3>
                <p>Click this <a href="">link</a> to upload your latest semester scores.
                    Legacy Learn will automatically calculate your CGPA (Cumulative Grade Point Average) based on your uploaded data, providing a clear overview of your academic performance.</p><br>
                <h3>Highlight Your Projects:</h3>
                <p>Demonstrate your practical skills and knowledge by adding projects to your portfolio.</p>
                <p class="bolden">Project portfolio</p>
                <ul>
                    <li>Project Title: Briefly describe your project and its key features.</li>
                    <li>Project Description: Provide a concise explanation of the project's purpose, the problem it solves, and the technologies or skills involved.</li>
                    <li>Project URL (Optional): If your project has a live website or online presence, include the URL <a href="">here</a>. Users can then directly access your project.</li>
                    <li>Demo or Pictures: Upload screenshots, images, or short video demos showcasing your project's functionality and user interface.(Size < 50MB)</li>
                </ul>
                <br>
                <p class="bolden">Click the <a href="">"Add Project"</a> button to get started.</p><br>
            </section>

            <section class="right"> 
                <p>By building a comprehensive portfolio on Legacy Learn, you can:</p>
                    <ul>
                        <li>Stand out from the crowd:<br>Showcase your academic achievements and impress potential employers or institutions.</li>
                        <li>Demonstrate your skills: <br>
                            Highlight your project work and showcase your practical abilities and knowledge.</li>
                        <li>Track your progress: <br>
                            Monitor your academic journey by keeping your scores and projects conveniently organized in one place.</li>
                    </ul>
                <p>Let your academic achievements shine! Start building your Legacy Learn portfolio today!</p>
            </section>
        </div>
    </main>
</div>
