<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <h2>Your Feedback Matters: Help Shape the Future of Legacy Learn!</h2>
            <p>At Legacy Learn, we're dedicated to providing you with the best possible learning experience. Your feedback is crucial in helping us achieve this goal. We value your insights and suggestions, and we encourage you to share them with us!</p>
            
            <h3>How can you provide feedback?</h3>
            <p>We offer several ways for you to share your thoughts and experiences:<br>
            You can leave a comment below.<br>
            <input><br>
            <button>SUBMIT</button>
            <br>
            
            To provide detailed feedback or suggestions through mail, send us an email: legacylearn&#64;gmail.com
        
        <br><br>
            Or click <a href="" [routerLink]="['/feedbackforms']">here</a> to fill our feedback forms.</p>
            
            <p>We appreciate your honest feedback!<br><br>
            
            Your input is invaluable in helping us continuously improve Legacy Learn. We take all feedback seriously and use it to guide our development efforts. By sharing your thoughts, you're helping us create a more effective and user-friendly platform for everyone.<br><br>
            Thank you for being a part of the Legacy Learn community! We appreciate your continued support and look forward to hearing from you.<br>
            Together, let's make Legacy Learn the ultimate platform for academic success!</p>
        </div>
    </main>
</div>

