<div class="list">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let announcement of announcements">
                <td>{{announcement.title}}</td>
                <td>{{announcement.createdAt | date: 'mediumDate'}}</td>
                <td>{{announcement.announcementContent | slice: 0:50}}</td>
                <td>
                    <button (click)="onAnnouncementSelected(announcement)">EDIT</button>
                    <button (click)="onDeleteRequested(announcement.id)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>