<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <section>
                <h1>Exciting News from Legacy Learn!</h1>
                <p>We're thrilled to announce some exciting developments happening at Legacy Learn! We're constantly working to improve your learning experience and empower you on your academic journey. Here's what's new:</p><br><br>
            </section>
            
            <!-- <section class="announcement" *ngFor="let announcement of announcements">
                <p>{{ announcement }}</p><br><br>
            </section> -->
            
            <section>
                <p>Stay tuned for more!<br>This is just the beginning! We're committed to continuously evolving and offering you the best possible learning experience. Be sure to check back for more exciting announcements and updates in the future. <br> Ready to explore these new features? <br> Head over to your Legacy Learn dashboard and start your customized learning journey today!<br><br>Happy Learning! <br><br> The Legacy Learn Team
                </p>
            </section>
        </div>
    </main>
</div>
