<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <section>
                <h1>Exciting News from Legacy Learn!</h1>
                <p>We're thrilled to announce some exciting developments happening at Legacy Learn! We're constantly working to improve your learning experience and empower you on your academic journey. Here's what's new:</p><br>
            </section>

            <section *ngIf="isLoading">Loading announcements....</section>
            
            <section *ngIf="!isLoading">
                <ul *ngIf="announcement">
                    <li *ngFor="let ann of announcement">
                        <h2>{{ ann.title }}</h2>
                        <p>{{ ann.createdAt.getDate }}</p>
                        <p>{{ ann.announcementContent }}</p>
                        <br>                       
                    </li>
                    <li>Happy Learning! <br><br>- The Legacy Learn Team</li>
                </ul>
                <br><br>
            </section>

        </div>
    </main>
</div>
