<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <h2>Legacy Learn Feedback Center: Stay Connected with Your Users
            </h2>

            <p>Welcome, admins! This is your one-stop shop for viewing all user feedback received through Legacy Learn. Here, you can gain valuable insights into user experiences, identify areas for improvement, and ensure student satisfaction with the platform.</p>

            <h3>Understanding User Feedback</h3>
            <p>Legacy Learn collects user feedback through two channels:
            </p>

            <ul>
                <li>Form-Based Feedback: <br>
                    Users can submit feedback through structured forms with predefined questions. This provides a standardized format for collecting specific data points.
                </li>
                <li>Text-Input Feedback: <br>
                    Users can also submit more open-ended feedback through a text-input field. This allows them to share their thoughts and suggestions in their own words. <br><br>
                    Click <a href="">here</a> to view users feedback!
                </li>
            </ul>

            <p>We recommend taking the following steps after reviewing user feedback:
            </p>

            <ul>
                <li>Respond to user concerns: <br>Address any negative feedback promptly and professionally. Consider reaching out to users directly if necessary.
                </li>
                <li>Implement improvements: <br>Use feedback to prioritize development efforts and address user pain points.
                </li>
                <li>Communicate changes: <br>Keep users informed about how their feedback is being used to shape the platform's future.
                </li>
            </ul>

            <p>By actively listening to your users and taking action based on their feedback, you can cultivate a thriving Legacy Learn community and build a platform that truly empowers student success.<br>
            We encourage you to regularly review user feedback and utilize these valuable insights to continuously improve Legacy Learn!</p>
        </div>
    </main>
</div>
