<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main class="container">
        <h2>About Legacy Learn: Your Gateway to Academic Success</h2>
        <p>Legacy Learn is your one-stop platform designed to empower you on your academic path. We're passionate about providing students with the tools and resources they need to thrive in their studies.</p>
        <p>Here's what sets us apart:</p>
        <ul>
            <li>Comprehensive Learning Resources: Explore a vast library of helpful materials, including video guides, in-depth tutorials, and informative FAQs. Find everything you need to grasp key concepts, master new skills, and excel in your courses.</li>
            <li>Dedicated Support Team: We understand that learning comes with challenges. Our dedicated support team is here to guide you every step of the way. Get in touch with any questions you might have, and we'll be happy to assist you.</li>
            <li>Personalized Learning Experience: Legacy Learn personalizes your journey by providing you with a centralized dashboard. Track your progress, receive reminders for upcoming deadlines, and easily access all course materials in one convenient location.</li>
            <li>Empowering Tools for Success: Go beyond traditional learning methods! Leverage our platform's features to build a comprehensive portfolio showcasing your accomplishments, collaborate with classmates and instructors, and receive valuable feedback to optimize your learning experience.</li>
            <li>Commitment to Excellence: We're constantly striving to improve Legacy Learn and elevate your academic experience. We value your feedback and use it to refine our platform and ensure it meets your evolving needs.</li>
        </ul>
        
        <h3>Meet the Team</h3>
    <p>Get to know the individuals behind Legacy Learn:</p>
    <ul>
        <li>
            <strong>Umehobi Arinze</strong><br>
            LinkedIn: <a href="https://www.linkedin.com/in/arinzeumehobi">https://www.linkedin.com/in/arinzeumehobi</a><br>
            Github: <a href="https://github.com/Tonyrealzy">https://github.com/Tonyrealzy</a><br>
            Twitter: <a href="https://twitter.com/Tonyrealzy">https://twitter.com/Tonyrealzy</a>
        </li>
        <li>
            <strong>Omoma Ighawosa</strong><br>
            LinkedIn: <a href="https://www.linkedin.com/in/ighawosa-omoma-5070a721b">https://www.linkedin.com/in/ighawosa-omoma-5070a721b</a><br>
            Github: <a href="https://github.com/Ig-matrix">https://github.com/Ig-matrix</a><br>
            Twitter: <a href="https://twitter.com/i_am_ig_matrix">https://twitter.com/i_am_ig_matrix</a>
        </li>
    </ul>

    <h3>Explore Our Project</h3>
    <p>Visit our GitHub repository to learn more about Legacy Learn: <a href="https://github.com/Tonyrealzy/Legacy-Learning-App">GitHub Repository</a></p>

        <p>Join the Legacy Learn Community! <br><br> We believe in fostering a supportive learning environment where students can connect, learn from each other, and achieve their academic goals. Become part of our vibrant community and take charge of your learning journey today! <br><br> Together, let's unlock your full academic potential!</p>
    </main>
</div>



