<main>
    <div class="padded">
        <div class="top-view">
            <img id="first-half" src="assets/images/LandingPage.jpg">
        
            <section class="second-half">
                <h1>Legacy Learn: Empowering Students, Engaging Administrators</h1>
                <p>Welcome to Legacy Learn, where education meets innovation! We understand the unique challenges that students and administrators face in managing coursework, scores, projects, and feedback. That's why we've crafted a cutting-edge learning app designed to streamline the educational journey, enhance collaboration, and provide valuable insights for administrators.</p>
                <button id="start">Get Started</button>
            </section>
        </div>
    
        <div class="others">
            <h2>Key Features</h2>
            <section class="cards">
                <section class="card">
                    <h3>Seamless Course Management:</h3>
                    <p>Legacy Learn simplifies course organization. Students can effortlessly track their courses, assignments, and project deadlines, ensuring they stay on top of their academic responsibilities.</p>
                </section>
                <section class="card">
                    <h3> Effortless Score Tracking:</h3>
                    <p>Never lose sight of your academic progress. Legacy Learn centralizes your scores, making it easy to monitor your achievements and identify areas for improvement.</p>
                </section>
                <section class="card">
                    <h3>Project Showcase:</h3>
                    <p>Showcase your hard work in one centralized location! Students can upload project URLs, creating a comprehensive portfolio that reflects their skills and dedication.</p>
                </section>
                <section class="card">
                    <h3>Constructive Feedback Loop:</h3>
                    <p>Receive timely and constructive feedback from instructors to enhance your learning experience. Legacy Learn facilitates open communication, fostering a positive learning environment.</p>
                </section>
                <section class="card">
                    <h3>Administrator Insights:</h3>
                    <p>Empower administrators with the tools they need to make informed decisions. Legacy Learn provides administrators with a bird's-eye view of student progress, enabling them to support and guide effectively.</p>
                </section>
            </section>
        </div>
    </div>

    <div class="backgroundCol">
        <img class="background" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    
        <div class="others2">
            <h2>Why Legacy Learn?</h2>
            <section class="write">
                <div class="written">
                    <section>
                        <h3>User-Friendly Interface:</h3>
                        <p class="no-margin">Legacy Learn boasts an intuitive design, ensuring a smooth user experience for both students and administrators.</p>
                    </section>
                    <section>
                        <h3>Customized Permissions:</h3>
                        <p class="no-margin">Tailor access levels to meet your institution's needs. Legacy Learn allows administrators to set permissions, ensuring the right information is accessible to the right people.</p>
                    </section>
                </div>
                <div class="written">
                    <section>
                        <h3>Secure and Private:</h3>
                        <p class="no-margin">Your data's security is our top priority. Legacy Learn employs robust security measures to protect your information and ensure confidentiality.</p>
                    </section>
                    <section>
                        <h3>Collaborative Learning Environment:</h3>
                        <p class="no-margin">Foster collaboration and engagement among students and educators. Legacy Learn creates a dynamic space where everyone can contribute to the learning experience.</p>
                    </section>
                </div>
            </section>
    
            <section>
                <h2>Ready to Transform Education?</h2>
                <p>Embark on a journey where knowledge meets innovation. Experience the future of learning with Legacy Learn. Your pathway to academic excellence awaits – embrace it today!</p>
                <p>Ready to experience the next generation of education? <a href="">Get Started!</a></p>
            </section>
        </div>    
    </div>
</main>
