<div class="overflow-x-auto p-4 border rounded-md my-3 flex items-center justify-center container mx-auto">
  @if (isLoading) {
  <p class="inline-block my-10 animate-spin w-16 h-16 border-2 rounded-full border-x-slate-400"></p>
  }@else {
  <table class="divide-y divide-gray-200 shadow-md rounded-md">
    <thead
      class="border-b border-neutral-200 bg-[#313068] font-medium text-white font-mono text-left"
    >
      <tr class="uppercase">
        <th class="px-6 py-3 tracking-wider">no</th>
        <th class="px-6 py-3 tracking-wider">Title</th>
        <th class="px-6 py-3 tracking-wider">Announcement Content</th>
        <th class="px-6 py-3 tracking-wider">Date</th>
        <th class="px-6 py-3 tracking-wider">Action</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      @for (ann of announcement; track ann.announcementId ) {
      <tr class="transition duration-300 ease-in-out hover:bg-neutral-100">
        <td class="px-6 py-4 whitespace-nowrap">{{ ann.announcementId }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ ann.title }}</td>
        <td class="px-6 py-4 whitespace-normal">
          @if (ann.showFullContent) {
          <span class="whitespace-normal">
            {{ ann.announcementContent }}
            <button
              (click)="toggleContent(ann)"
              class="text-blue-300 inline-block text-sm hover:text-blue-500 hover:underline whitespace-normal"
            >
              Show less
            </button>
          </span>
          }@else {
          <span class="whitespace-normal">
            {{ getTruncatedContent(ann.announcementContent) }}...
            <button
              (click)="toggleContent(ann)"
              class="text-blue-300 inline-block text-sm hover:text-blue-500 hover:underline whitespace-normal"
            >
              Show more
            </button>
          </span>
          }
        </td>
        <td class="px-6 py-4 whitespace-nowrap">{{ ann.createdAt }}</td>
        <td class="px-6 py-4 whitespace-nowrap">
          <!-- <button
            class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out"
            (click)="editAnnouncement(ann, ann.announcementId)"
          >
            Edit
          </button> -->
          <button
            class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out"
            (click)="deleteAnnouncement(ann.announcementId)"
          >
            Delete
          </button>
          @if (isConfirmDelete) {
          <app-delete-confirmation
            (cancel)="onCancelConfirmed()"
            (confirm)="onDeleteConfirmed()"
          />
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
