<div class="flex items-center justify-end p-2">
  <button
    class="bg-red-400 hover:bg-red-500 h-8 w-8 font-bold transition-all duration-75 rounded-full"
  >
    <a class="text-white" [routerLink]="['/feedback']">X</a>
  </button>
</div>

<section class="p-4 flex flex-col sm:flex-row-reverse">
  <div class="form flex-1 bg-slate-100 h-full p-2">
    <h1 class="font-mono font-bold text-center text-lg">Welcome Jabronis</h1>

    @if (feedbackTypes.length > 0) {
    <h2 class="font-medium italic text-[1rem]">
      Select the type of feedback from the drop dowm below
    </h2>
    <select
      name="type"
      id="type"
      (change)="selectFeedbackType($event)"
      [(ngModel)]="selectedFeedbackType"
    >
      @for (type of feedbackTypes; track $index) {
      <option [value]="type.value">
        {{ type.label }}
      </option>
      }
    </select>
    <div class="bg-slate-50 py-6">
      @if (selectedFeedbackType) {
      <div class="relative flex items-center justify-center my-6">
        <p class="font-medium font-mono absolute text-[#3f51b5]">
          {{ currentQuestionIndex + 1 }}/{{
            getSelectedFeedbackType().questions.length
          }}
        </p>
        <app-progress
          [currentQuestion]="currentQuestionIndex"
          [totalQuestions]="getSelectedFeedbackType().questions.length"
        />
      </div>
      <form [formGroup]="feedbackForm">
        @if (currentQuestion) {
        <h3>{{ currentQuestion.text }}</h3>
        @for (option of currentQuestion.options; track option.label) { @if
        (option.label==='') {
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="enter message"
          class="border"
          formControlName="{{ currentQuestion.name }}"
        ></textarea>
        }@else {
        <input
          type="radio"
          formControlName="{{ currentQuestion.name }}"
          [value]="option.value"
          id="{{ option.value }}"
          name="{{ currentQuestion.name }}"
        />
        <label for="{{ option.value }}">
          {{ option.label }}
        </label>
        <br />
        } } } @if (!currentQuestion) {
        <p>No more questions for this feedback type</p>
        }
        <div class="button-container flex justify-between">
          <button
            type="button"
            class="p-2 rounded-sm text-4xl text-blue-700 animate-bounce"
            (click)="onPrev()"
            [disabled]="currentQuestionIndex === 0"
            [ngClass]="{ invisible: currentQuestionIndex === 0 }"
          >
            <fa-icon [icon]="faArrowLeftLong" />
          </button>
          @if (currentQuestionIndex <
          getSelectedFeedbackType().questions.length-1) {
          <button
            type="button"
            class="p-2 rounded-sm text-4xl text-blue-700 animate-bounce"
            (click)="onNext()"
            [ngClass]="{ 'opacity-5': !isCurrentQuestionAnswered() }"
            [disabled]="!isCurrentQuestionAnswered()"
          >
            <fa-icon [icon]="faArrowRightLong" />
          </button>
          } @if (currentQuestionIndex ===
          getSelectedFeedbackType().questions.length-1) {
          <button
            type="submit"
            class="bg-blue-500 text-white rounded-md p-3"
            [ngClass]="{ 'opacity-5': !isCurrentQuestionAnswered() }"
            [disabled]="!isCurrentQuestionAnswered()"
            (click)="onSubmit()"
          >
            @if (isLoading) { 
              Submitting <fa-icon [icon]="faPaperPlane" class="animate-pulse text-xl transition-all duration-100" />
            }@else { Submit
            <fa-icon [icon]="faPaperPlane" />
            }
          </button>
          }
        </div>
      </form>
      }
    </div>

    }
  </div>
  <div class="img flex-1 bg-blue-500">
    <img
      src="../../../../assets/images/Survey 2.png"
      alt="feedback img"
      class=""
    />
  </div>
</section>
