<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <h2>Craft Compelling Announcements: Engage Your Legacy Learn Community</h2><br>
            <p>Welcome, admins! This page empowers you to create informative and engaging announcements for the Legacy Learn community. Keep students updated on important news, exciting developments, upcoming events, and anything else you deem relevant to their academic journey. Let's get started!<br><br>
            Here's what you need to do to create a new announcement:</p>
            <ul>
                <li>Craft a Clear and Captivating Title:<br>
                    Briefly summarize the announcement's main point in an attention-grabbing way. Keep it concise and informative, enticing users to learn more.</li>
                <li>Compose Engaging Announcement Content:<br>
                    Clearly articulate the details of your announcement.
                    Use rich text formatting options (if available) to enhance readability and highlight key points.
                    Consider including visuals like images or embedded videos to further engage the audience.</li>
                <li>Publish!<br>
                Once you're satisfied with your announcement, click the "Publish" button to share it with the Legacy Learn community.</li>
            </ul>
            <p>Here are some additional tips for crafting effective announcements:</p>
            <ul>
                <li>Keep it concise and to the point. Users are more likely to read and absorb shorter announcements.
                </li>
                <li>Use a professional yet engaging tone. Maintain a clear and informative style, while fostering a sense of community and excitement.
                </li>
                <li>Proofread your announcement carefully before publishing. Ensure there are no typos or grammatical errors.
                </li>
                <li>By creating informative and engaging announcements, you can keep students informed and actively involved in the Legacy Learn community.
                </li>
            </ul>
            <p>Ready to share your news? Click <a [routerLink]="['/newAnnouncement']" routerLinkActive="active" ariaCurrentWhenActive="page">here</a> to get started.</p>
            <br>
        </div>
    </main>
</div>
