<nav>
    <app-home-navigation></app-home-navigation>
</nav>

<div class="content">
    <app-side-bar></app-side-bar>
    <main>
        <div class="container">
            <h2>Grant User Access: Expand the Legacy Learn Community
            </h2>
            
            <p>Welcome, admins! This page empowers you to invite new users to join the Legacy Learn platform. By granting access to qualified individuals, you can expand the reach of Legacy Learn and empower more students on their academic journeys.<br>
            Adding Approved Users: <br>
            To grant a user access to Legacy Learn, simply enter their email address in the field below. Once their email is added to the approved list, they will receive an invitation to sign up for an account.<br><br>
            Enter the email address of the user you wish to add to Legacy Learn:</p>
            <input type="text"><br>
            <button>ADD</button>
            <p>Ensure the email address is valid and belongs to the intended recipient.<br>
            Additional Notes:</p>
            <ul>
                <li>You can add multiple users at once by separating email addresses with commas.
                </li>
                <li>Only users with email addresses on the approved list will be able to sign up for a Legacy Learn account.
                </li>
                <li>Consider sending a brief introductory email to approved users (optional) to inform them about the invitation and the benefits of joining the Legacy Learn community.
                </li>
                <li>By granting access to qualified users, you can help them unlock their full academic potential with the resources and support offered by Legacy Learn.
                </li>
            </ul>
            <p>Ready to invite new users? Add their email addresses and expand the Legacy Learn community today!</p>
        </div>
    </main>
</div>